body {
  background-color: #6200ea;
}
.App {
  text-align: center;
}

.checkbox {
  margin-left: -25px;
}
.caption {
  width: 300px;
}
.addText {
  width: 350px;
}

@media (max-width: 375px) {
  .checkbox {
    margin-left: -35px;
  }
  .caption {
    width: 280px;
  }

  .addText {
    width: 330px;
  }
}

@media (max-width: 320px) {
  .caption {
    width: 180px;
  }

  .addText {
    width: 230px;
  }
}

todoTitle {
  width: "89%";
}

@media (max-width: 1024px) {
  todoTitle {
    width: "87.5%";
  }
}

@media (max-width: 958px) {
  todoTitle {
    width: "83%";
  }
}
